<h3 FACE ="verdana">Habilidades y Competencias</h3>
<table border="0">
    <blockquote>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2.5>SQL Server</FONT>
            </td> <label for="file"></label> <progress id="file" max="100" value="80">80%</progress>
        </tr>
        <p>
        </p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2.5>My SQL</FONT>
            </td><label for="file"></label> <progress id="file" max="100" value="70">70%</progress>
        </tr>
        <p></p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2.5>JAVA</FONT>
            </td><label for="file"></label> <progress id="file" max="100" value="70">70%</progress>
        </tr>
        <p></p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2.5>Python</FONT>
            </td> <label for="file"></label> <progress id="file" max="100" value="70">70%</progress>
        </tr>
        <p></p>
        <tr>
            <td>
                <FONT FACE="verdana" SIZE=2.5>HTML</FONT>
            </td> <label for="file"></label> <progress id="file" max="100" value="60">60%</progress>
        </tr>
    </blockquote>
</table>